Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@matashkov-de
qa-guru
/
qa_guru_11_11_jenkins
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
qa_guru_11_11_jenkins/.gitignore
@svasenkov
svasenkov Added simple tests
Latest commit d41a1ce 8 days ago
 History
 1 contributor
42 lines (36 sloc)  407 Bytes

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project gen files
.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
